<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>로그인 하기</h1>
<hr>

<form action="/api/signin" method="POST">
    <table>
        <tr>
            <td><input type="text" name="id" placeholder="아이디를 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="비밀번호를 입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>
    <a href="/api/auth/facebook"> facebook </a>
</body>
</html>